body {
  background-image: url('../assets/crew/background-crew-mobile.jpg');
}

main {
  padding-top: 0;
}

img {
  width: 100%;
  height: 100%;
}

.hero {
  text-align: center;
}

.hero-heading {
  margin-bottom: 32px;
}

.crew-image img {
  margin-left: 40px;
  width: 80%;
  height: 80%;
}

.crew-selector {
  margin: 32px auto;
  height: 10px;
}

.crew-selector span {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.crew-selector span+span {
  margin-left: 16px;
}

.crew-selector span.active {
  opacity: 1;
}

.crew-member-role {
  opacity: 0.5;
  font-size: 16px;
}

.crew-member-name {
  font-size: 24px;
}

.crew-member-role,
.crew-member-name {
  font-weight: 400;
}

.crew-member-about {
  font-size: 15px;
  line-height: 25px;
  color: #D0D6F9;
  margin-bottom: 0;
}

.hero-content {
  position: relative;
  min-height: 95vh;
  overflow-x: hidden;
}

.destination-container {
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.destination-container>div {
  position: absolute;
  width: 100%;
  left: calc(var(--left) * 100%);
}

@media screen and (min-width: 376px) {
  .hero-content {
    min-height: 80vh;
  }
}

@media screen and (min-width: 481px) {
  body {
    background-image: url('../assets/crew/background-crew-tablet.jpg');
  }

  main {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .hero {
    padding: 0 30px;
  }

  .hero-content {
    min-height: 127vh;
  }

  .destination-container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .crew-details {
    order: -1;
  }

  .crew-information {
    display: flex;
    flex-direction: column;
  }

  .crew-image {
    width: 420px;
    margin-inline: auto;
    display: flex;
    order: 2;
    align-items: flex-end;
    justify-content: center;
  }

  .crew-selector {
    margin-block: 40px;
  }

  .crew-member-about {
    max-width: 444px;
    margin-inline: auto;
  }

  .crew-member-role {
    font-size: 24px;
  }

  .crew-member-name {
    font-size: 40px;
  }

  .crew-member-about {
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    min-height: 87vh;
  }
}

@media screen and (min-width: 1024px) {
  .hero-content {
    min-height: 149vh;
  }
}

@media screen and (min-width: 1025px) {
  body {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
  }

  main {
    padding: 76px 0 0 24px;
  }

  .hero {
    text-align: left;
    margin-bottom: 5px;
  }

  .hero .hero-heading {
    margin-bottom: 154px;
  }

  .destination-container>div {
    flex-direction: row;
    justify-content: space-between;
  }

  .crew-member-about,
  .crew-selector {
    margin-inline: 0;
  }

  .crew-member-role {
    font-size: 32px;
  }

  .crew-member-name {
    font-size: 56px;
  }

  .crew-member-about {
    font-size: 18px;
    line-height: 32px;
  }

  .crew-selector {
    margin-block: 120px 94px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    padding: 76px 136px 0 166px;
  }

  .hero-content {
    min-height: 110vh;
  }

  .crew-image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}